.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    border-bottom: 2px solid darkgray;
}

.menu-logo img{
    max-height: 70px;
}


.menu{
    display: flex;
}

.menu-item{
    padding: 2px 1em;
    border: 3px solid #148fd7;
    border-style: inset;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
    text-decoration:solid;
    color: #0a5a88;
}

.menu-item:hover{
    background: lightgrey;
}

.greetings{
    padding: 2em;
}

.fullscreen-slideshow {
    width: 100%;
}

h2,h3{
    font-family: 'Montserrat', sans-serif;
    color: #148fd7;
}

h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0em 0em 0em 2em;

    color: #148fd7;
}

p,a,table{
    font-family: 'Montserrat', sans-serif;
    color: #052437;
}
.img-slideshow {
    border: 5px solid #148fd7;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideshow-buttons {
    display: flex;
    justify-content:space-between;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 0;
}

.slideshow-button {
    color: #148fd7;
    padding: 10px 20px;
    border: none;
    margin: 0 10px;
    cursor: pointer;
}

#prevBtn {
    left: 20px;
}

#nextBtn {
    right: 20px;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headquarters{
    padding: 3em;
    display: flex;
    justify-content:space-evenly;
}

.hq-items{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}


.circle {
    height: 200px;
    width: 200px;
    border: 3px solid #148fd7;
    border-radius: 50%;
    border-style:dashed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }

.square {
    text-align: center;
    height: 300PX;
    width: 600px;
    border: 1px solid black;
}



.form{
    display: flex;
    justify-content: center;
    
}

td{
    padding: 10px;
}
input[type="text"]{
    width: 400px; 
    height: auto; 
    padding: 5px; 
  }

input[type="date"]{
    width: 400px; 
    height: auto; 
    padding: 5px; 
  }

  input[type="submit"]{
    width: 570px; 
    height: auto; 
    padding: 10px; 
  }

textarea,text{
    width: 400px;
    height: 100px;
}

.left-table{
    width: max-content;
}


.footer-text{
    font-size: small;
    text-align: right;
    color :#0a5a88
}

.find-us{
    display:flex;
    flex-direction: column;
    padding: 2em 5em;
    justify-content: center;
    background-color: #0a5a88;
}

.find-us-text{
    text-align: center;
    color: white;
}

.find-us-logo{
    display: flex;
    justify-content: center;
}



.img-maps {
    width: 100%;
    height: 100%;
}

.contact-logo {
    justify-content: end;
    padding: 2em;
    width: 100px;
    height: 100px;
}




@media only screen and (max-width: 600px) {
    .header-wrapper {
        flex-direction: column;
    }


    .menu{
        flex-direction: column;
        width: 100% ;
    }

    .menu-logo img{
        margin-bottom: 14px;
    }

    .hq-items{
        flex-direction: column;
    }

    .headquarters{
        flex-direction: column;
    }

    .form {
        flex-direction: column;
    }

    .find-us {
        flex-direction: column;

    }

    

    
}


@media only screen and (min-width: 1200px) {}
@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 992px) {}